*.o
*.so*
Makefile
*/Makefile
.qmake.stash
example/example
*.user*
*.a
/tools/*


/Operation Configuration/*
/SPII Buffer Manager/*
/build-src-Desktop_Qt_5_7_1_MinGW_32bit-Debug/*
/build**


*.Debug
*.Release
*.dll
*.lib
*.exe
*.a
/src/graphing/debug/*
/src/library_munk_power_supply/debug/*
/logs/*
/lib/*
/bin/*
/Galil/*
*.gypi
/include/*
"doxygen/html/"
/src/common/debug/*
/src/data/debug/*
/src/library_SPIIMotionController/debug/*
/src/library_galilMotionController/debug/*
/src/window_GMC_variable_editor/debug/*
/src/Window_GalilMotionController/debug/*
/src/ECM_gui/debug/*
/src/ECM_gui/release/*
/src/ECM_API/debug/*
/src/library_westinghouse510/debug/*
/src/library_qModbus/debug/*
/src/library_rigol_oscilliscope/debug/*
/src/library_sensoray/debug/*