*.o
*.so*
Makefile
*/Makefile
.qmake.stash
example/example
*.user*
*.a

/build-src-Desktop_Qt_5_7_1_MinGW_32bit-Debug/*
/build**


*.Debug
*.Release
*.dll
*.lib
*.exe
*.a
/src/graphing/debug/*
/src/library_munk_power_supply/debug/*
/logs/*
/lib/*
/bin/*
*.gypi
/include/*
"doxygen/html/"
